<%= form_with(model: deposit, local: true) do |form| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
      <% deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :bank, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= form.text_field :bank, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :date_start, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= form.date_select :date_start, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :date_end, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= form.date_select :date_end, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :amount, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= form.text_field :amount, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= form.label :percent, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= form.text_field :percent, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
