<p id="notice"><%= notice %></p>

<%= react_component "Deposit", {deposit: @deposit} %>

<div class="row">
  <label class="col-sm-2"><strong>Bank</strong></label>
  <div class="col-sm-6">
    <%= @deposit.bank %>
  </div>
</div>

<div class="row">
  <label class="col-sm-2">
    <strong>Date start</strong>
  </label>
  <div class="col-sm-6">
  <%= @deposit.date_start %>
  </div>
</div>

<div class="row">
  <label class="col-sm-2">
    <strong>Date end</strong>
  </label>
  <div class="col-sm-6">
  <%= @deposit.date_end %>
  </div>
</div>

<div class="row">
  <label class="col-sm-2">
    <strong>Amount</strong>
  </label>
  <div class="col-sm-6">
  <%= @deposit.amount %>
  </div>
</div>

<div class="row">
  <label class="col-sm-2">
    <strong>Percent</strong>
  </label>
  <div class="col-sm-6">
  <%= @deposit.percent %>
  </div>
</div>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
